    html{
        width: auto;
        height: auto;
    }

    body {
        margin: 0;
    }
/*
    ul.topnav {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 91.63%;
        padding: auto;
        background: #FFFFFF;
    }

    ul.topnav #rectangle94 {display: none;}

    ul.topnav li a.icon {
      float: right;
      display: block;
      color:#FFD36E;
      width: 10%;

    }

    ul.topnav li.logo {
        position: absolute;
        padding: 0;
    }*/

    .LDSP {
        position: relative;
        margin-left: 0%;
        /* right: 57.07%; */
        margin-top: 7.11%;
        /* bottom: 86.82%; */
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        /* align-items: center; */
        text-align: center;
        color: #000000;
        padding: 2% 12%;
        width: 20%;
        background-color: #FFD36E;
    }


    #DavisLeadership {
        margin-left: 28.53%;
        margin-right: 28.8%;

        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 30px;
        text-align: center;

        color: #000000;
        background-color: #A4D3FF;;
        border-radius: 10px;
        padding: 10px;
        z-index: 2;
    }

    /*#rectangle90 {
        position: absolute;
        left: 8.8%;
        right: 7.2%;
        top: 23.52%;
        bottom: 23.65%;
        width: auto;
        height: auto;
        background: #FFFFFF;
        border: 5px solid #A4D3FF;
    }*/

    #HavenAtDavis{
        margin-left: 12.27%;
        margin-right: 12.53%;
        margin-top: -10.53%;
    
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: center; 
        padding: 10% 5%;

        border: 5px solid #A4D3FF;
        border-radius: 10px;
    }


    .view {
        margin-left: 37%;
        margin-top: -10%;
        width: 130px;
        height: 65px;
    }

    .view .viewmore{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #000000;
        background: #FFD36E;
        border: none;
        padding:10px;
        border-radius: 20px;
    }

@media only screen and (min-width:768px) {

    body {
        margin: 0;
    }
    /*
    .topnav {
        position: relative;
        width: 100%;
        height: 15%;
        left: 0%;
        top: 0%;
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        
        color: #000000;
    
      }
    
      ul.topnav {
        list-style-type: none;
        margin: 0;
        padding: 5%;
        overflow: hidden;
      }
    
      ul.topnav li.logo {
          float:left;
          padding: 10px;
          position: relative;
        }
      
      ul.topnav li {float: left;}
    
      ul.topnav li a.active {
        background-color: #FFD36E;
    }
      
      ul.topnav li a {
        display: left;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
    
    
      .topnav .icon {
          display: none;
      }
    
      @media screen and (max-width: 1000px) {
        ul.topnav li a{display: none;}
        .topnav #rectangle94 {display: none;}
        .topnav a.icon {
          float: right;
          display: block;
          color:#FFD36E;
          width: 10%;
    
        }
      }
      
      @media screen and (max-width: 1000px) {
        .topnav.responsive .icon {
          position: absolute;
          right: 0;
          top:0;
        }
        .topnav a {
          float: none;
          display: none;
          text-align: left;
        }
      
      }*/
    
    
      .LDSP {
        position: relative;
        margin-left: 0%;
        /* right: 57.07%; */
        margin-top: 7.11%;
        /* bottom: 86.82%; */

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        padding: 2% 12%;
        width: 20%;
        background-color: #FFD36E;
    }


    #DavisLeadership {
        margin-left: 35.53%;
        margin-right: 35.53%;

        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 55px;
        line-height: 75px;
        text-align: center;

        color: #000000;
        background-color: #A4D3FF;;
        border-radius: 10px;
        padding: 10px;
        z-index: 2;
    }

    /*#rectangle90 {
        position: absolute;
        left: 8.8%;
        right: 7.2%;
        top: 23.52%;
        bottom: 23.65%;
        width: auto;
        height: auto;
        background: #FFFFFF;
        border: 5px solid #A4D3FF;
    }*/

    #HavenAtDavis{
        margin-left: 12.27%;
        margin-right: 12.53%;
        margin-top: -7%;
    
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        display: flex;
        align-items: center;
        text-align: center;
        
        color: #000000;

        border: 5px solid #A4D3FF;
        border-radius: 10px;
    }


    .view {
        margin-left: 42%;
        margin-top: -4%;
        margin-bottom: 30%;
        width: auto;
        height: auto;
    }

    .view .viewmore{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 49px;
        display: flex;
        align-items: center;
        text-align: center;
        
        color: #000000;
        background: #FFD36E;
        border: none;
        padding:10px;
        border-radius: 20px;
    }



}
